body {
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4ca1af,
      #2c3e50
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4ca1af,
      #2c3e50
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .mainTitle {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: #ffffff;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .buscador {
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
  }

  .label {
    display: block;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }

  .input-text {
    padding: 0.5rem;
    margin-top: 0.75rem;
    width: 100%;
    border-radius: 0.25rem;
  }

  .input-submit {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.25rem;
    background-color: #fbbf24;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .input-submit:hover {
    background-color: #f59e0b;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: auto;
    margin-top: 2.5rem;
  }

  .alerta-personalizada {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    background-color: #fee2e2;
    color: #b91c1c;
    text-align: center;
    max-width: 32rem;
    border-radius: 0.25rem;
    border-color: #f87171;
  }

  .result-container {
    flex: 0 0 calc(90% - 1rem);
    margin: 1rem;
    padding: 0.75rem;
  }

  @media (min-width: 600px) {
    .result-container {
        flex: 0 0 calc(40% - 1rem);
        margin: 1rem; 
        padding: 0.75rem;
        margin-bottom: 1rem;
    }
  }

  @media (min-width: 1200px) {
    .result-container {
        flex: 0 0 calc(30% - 1rem);
        margin: 1rem; 
        padding: 0.75rem;
        margin-bottom: 1rem;
    }
  }

  .custom-bg-white {
    background-color: white;
  }

  .full-width {
    width: 100%;
  }

  .p-4 {
    padding: 1rem;
  }

  .bold-font {
    font-weight: 700;
  }
  .text-align-center {
    text-align: center;
  }

  .light-font {
    font-weight: 300;
  }

  .custom-button {
    display: block;
    padding: 0.25rem;
    margin-top: 1.25rem;
    background-color: #1e40af;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0.25rem;
  }

  .custom-button:hover {
    background-color: #3b82f6; /* hover:bg-blue-500 */
  }

  .pagination-button {
    background-color: #f59e0b; /* bg-yellow-400 */
    padding-left: 16px; /* px-4 */
    padding-right: 16px; /* px-4 */
    padding-top: 4px; /* py-1 */
    padding-bottom: 4px; /* py-1 */
    margin-right: 8px; /* mr-2 */
    font-weight: bold; /* font-bold */
    margin-bottom: 16px; /* mb-4 */
    border-radius: 0.25rem; /* rounded */
  }